<footer class="site-footer">
  <small>
<strong>Dr Caroline O'Hare,</strong><br/>

<i>B.Soc.Sci., M.I.S., Ph.D</i><br/>

Registered Adult & Children’s Yoga Instructor, RGN<br />
Yoga Therapy Ireland Qualified: Neurodiverse Yoga<br />
  </small>
</footer>
